<h1> Demo Application </h1>
<p> This is a Demo Application to test Kuppayam Engine </p>

<ul id="main-menu" class="main-menu">
	<li class="active opened">
		<a href="#">
			<i class="linecons-database"></i>
			<span class="title">Click on the following links to checkout what is loading from kyppayam engine by default</span>
		</a>
		<ul>
			<li>
				<a href="/images">
					<span class="title">Images</span>
				</a>
			</li>
			<li>
				<a href="/documents">
					<span class="title">Documents</span>
				</a>
			</li>
		</ul>
	</li>
</ul>

<ul id="main-menu" class="main-menu">
	<li class="active opened">
		<a href="#">
			<i class="linecons-database"></i>
			<span class="title">Click on the following links test this dummy application</span>
		</a>
		<ul>
			<li>
				<a href="/events">
					<span class="title">Events</span>
				</a>
			</li>
		</ul>
	</li>
</ul>
