<div class="alert alert-info alert-dismissible" role="alert">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<p><b>Published:</b> Published events will be displayed on events page. Here, the green colored ones represents published events. You can click on the button with 'check' icon to view only the published events.</p>

	<p><b>Unpublished:</b> Unpublished events are handy when are awaiting the approval. Here, the grey colored ones represents unpublished events. You can click on the button with 'flag' icon to view only the unpublished events.</p>

	<p><b>Archived:</b> You can archive a past event if you no longer wanted to display on the events page. This is different from delete as the event has already occured in the past. You can click on the button with 'archive' icon to view only the archived events.</p>

	<p><b>Removed:</b> When you remove an event, it is not removed from the system. Instead the status is changed to removed. This is designed to make it available for auditing in future.</p>

	<p><b>Deleted:</b> Delete Button will appear for all the removed events. This will permenantly delete the data from the system and is irreversible.</p>

	<p><b>Type:</b> It can be either a news or an event. News will display news data (as on) and events will have venuew and start and end date.</p>
</div>