<div class="row">
      
  <div class="col-md-12">
    
    <ul class="nav nav-tabs">
    </ul>
    <div class="tab-content">
      <div class="tab-pane active">

        <div id="div_event_action_buttons">
          <%= render :partial=>"kuppayam/images/action_buttons" %>
        </div>
        <%= clear_tag(10) %>

        <div id="div_event_index">
          <%= render :partial=>"kuppayam/images/index" %>
        </div>
        <%= clear_tag(10) %>

      </div>
    </div>

  </div>

</div>

