<div class="page-error centered">
        
  <div class="error-symbol">
    <i class="fa-warning"></i>
  </div>
  
  <h2 style="color:#4b4b4b;">
    Permission Denied
    <small>Unauthorized</small>
  </h2>
  
  <p>You do not have permission to view this page or perform this action</p>
  
</div>