<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Head -->
    <%= render :partial=>"/layouts/kuppayam/head" -%>

    <!-- <style type="text/css">
      @page {
        size: A4;
        margin: 0;
      }
      @media print {
        html, body {
          width: 210mm;
          height: 297mm;
        }
      }
    </style> -->

  </head>

  <body class="page-body">

    <div class="page-container">
      <div class="main-content">
        <%= yield %>
      </div>
    </div>
    
  </body>

</html>