<nav class="col-md-2 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" href="#">
          Dashboard <span class="sr-only">(current)</span>
        </a>
      </li>
    </ul>

    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-40 mb-1 text-muted">
      <span>Website Elements</span>
      <a class="d-flex align-items-center text-muted" href="#">
      </a>
    </h6>

    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" href="#">
          Products
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          Services
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          Users
        </a>
      </li>
    </ul>

    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-40 mb-1 text-muted">
      <span>Admin</span>
      <a class="d-flex align-items-center text-muted" href="#">
      </a>
    </h6>
    <ul class="nav flex-column mb-2">
      <li class="nav-item">
        <a class="nav-link" href="#">
          Users
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          Roles
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          Features
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          Permissions
        </a>
      </li>
    </ul>
  </div>
</nav>