<div class="row">
<% items.each do |key, values| %>
	<% next unless values[:has_permission] %>
	<div class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
		
		<div class="xe-widget xe-vertical-counter xe-vertical-counter-white" data-count=".num" data-from="0" data-to="128" data-duration="4" style="min-height:230px;">
			<%= link_to values[:url] do %>
				<div class="xe-icon" style="padding:0px;">
					<i class="<%= values[:icon_class] %>"></i>
				</div>

				<div class="xe-label">
					<span style="font-size:14px;color:#898989;"><%= values[:text] %></span>
				</div>
			<% end %>
		</div>
		
	</div>
<% end %>
</div>