<footer>
	
	<div class="footer-inner" style="text-align: center;">
		
		<!-- Add your copyright text here -->
		<div class="footer-text">
			&copy; 2017 
			<strong>Right IT Solutions</strong> 

			All rights reserved. <br>developed, maintained and hosted by <a href="http://rightsolutions.io" target="_blank" style="color:#e91e63">Right Solutions</a>
		</div>
		
		
	</div>
	
</footer>

