<div class="page-header">
  <div class="title-env">
    <h1 class="title pull-left m-r-10">
        <i class="md md-account-circle"></i>
    </h1>
    <div class="pull-left">
      <h1 class="title">Users (Konica Minolta)</h1>
      <p class="description">Manage all Users at Konica Minolta</p>
    </div>
  </div>
</div>