<aside id="hoe-left-panel" hoe-position-type="absolute">
  <ul class="nav panel-list sidebar-scroll">
    <li class="nav-level">Admin</li>
    <li class="active">
      <a href="manage_users.html">
        <i class="md md-account-circle"></i>
        <span class="menu-text">Users ( Konica Minolta )</span>
        <span class="selected"></span>
      </a>
    </li>

    <li>
      <a href="manage_partners.html">
        <i class="md md-account-child"></i>
        <span class="menu-text">Partner Organisations</span>
        <span class="selected"></span>
      </a>
    </li>

    <li>
      <a href="assessment_projects_list.html">
        <i class="md md-description"></i>
        <span class="menu-text">Assessment Projects</span>
        <span class="selected"></span>
      </a>
    </li>



    <li class="nav-level">Master Data</li>
    <li>
      <a href="manufatures.html">
        <i class="md md-domain"></i>
        <span class="menu-text">Manufatures</span>
        <span class="selected"></span>
      </a>
    </li>

    <li>
      <a href="devices.html">
        <i class="md md-domain"></i>
        <span class="menu-text">Devices</span>
        <span class="selected"></span>
      </a>
    </li>

    <li>
      <a href="devices.html">
        <i class="md md-domain"></i>
        <span class="menu-text">Pending Devices</span>
        <span class="selected"></span>
      </a>
    </li>

    <li>
      <a href="exchange_rate.html">
        <i class="md md-domain"></i>
        <span class="menu-text">Exchange Rates</span>
        <span class="selected"></span>
      </a>
    </li>


    <li class="nav-level">Partner Reports</li>
    <li>
      <a href="javascript:void(0)">
        <i class="md md-receipt"></i>
        <span class="menu-text">Partner Performance Report</span>
        <span class="selected"></span>
      </a>
    </li>

    <li>
      <a href="javascript:void(0)">
        <i class="md md-receipt"></i>
        <span class="menu-text">Assessment Projects Report</span>
        <span class="selected"></span>
      </a>
    </li>



    


   
  </ul>
</aside>